/*
  .box == 1
  .s_2 == 3
  .social == 6
  menu == 9
  .s_3 == 3
*/
:root {
  --whiteColor: rgb(255, 255, 255);
  --redColor: rgb(255, 0, 0);
  --bgColor: #202023;
  --mainColor: #658DFF;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Gilroy';
  font-style: normal;
  box-sizing: border-box;
}
html, body {
  font-family: 'Gilroy Ultra Light';
  background-color: var(--bgColor);
  scroll-behavior: smooth;
  overflow-x: hidden!important; 
  color: var(--whiteColor);
  transition-duration: 500ms;
  width: 100vw;
}
@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-ExtraBold.eot');
  src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
      url('Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('Gilroy-ExtraBold.woff') format('woff'),
      url('Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Heavy.eot');
  src: local('Gilroy Heavy'), local('Gilroy-Heavy'),
      url('Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
      url('Gilroy-Heavy.woff') format('woff'),
      url('Gilroy-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-LightItalic.eot');
  src: local('Gilroy Light Italic'), local('Gilroy-LightItalic'),
      url('Gilroy-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('Gilroy-LightItalic.woff') format('woff'),
      url('Gilroy-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-ThinItalic.eot');
  src: local('Gilroy Thin Italic'), local('Gilroy-ThinItalic'),
      url('Gilroy-ThinItalic.eot?#iefix') format('embedded-opentype'),
      url('Gilroy-ThinItalic.woff') format('woff'),
      url('Gilroy-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-BlackItalic.eot');
  src: local('Gilroy Black Italic'), local('Gilroy-BlackItalic'),
      url('Gilroy-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('Gilroy-BlackItalic.woff') format('woff'),
      url('Gilroy-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-BoldItalic.eot');
  src: local('Gilroy Bold Italic'), local('Gilroy-BoldItalic'),
      url('Gilroy-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('Gilroy-BoldItalic.woff') format('woff'),
      url('Gilroy-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-SemiBold.eot');
  src: local('Gilroy SemiBold'), local('Gilroy-SemiBold'),
      url('Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('Gilroy-SemiBold.woff') format('woff'),
      url('Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-UltraLightItalic.eot');
  src: local('Gilroy UltraLight Italic'), local('Gilroy-UltraLightItalic'),
      url('Gilroy-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
      url('Gilroy-UltraLightItalic.woff') format('woff'),
      url('Gilroy-UltraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-SemiBoldItalic.eot');
  src: local('Gilroy SemiBold Italic'), local('Gilroy-SemiBoldItalic'),
      url('Gilroy-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('Gilroy-SemiBoldItalic.woff') format('woff'),
      url('Gilroy-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Light.eot');
  src: local('Gilroy Light'), local('Gilroy-Light'),
      url('Gilroy-Light.eot?#iefix') format('embedded-opentype'),
      url('Gilroy-Light.woff') format('woff'),
      url('Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-MediumItalic.eot');
  src: local('Gilroy Medium Italic'), local('Gilroy-MediumItalic'),
      url('Gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('Gilroy-MediumItalic.woff') format('woff'),
      url('Gilroy-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-ExtraBoldItalic.eot');
  src: local('Gilroy ExtraBold Italic'), local('Gilroy-ExtraBoldItalic'),
      url('Gilroy-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('Gilroy-ExtraBoldItalic.woff') format('woff'),
      url('Gilroy-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
      url('Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
      url('Gilroy-Regular.woff') format('woff'),
      url('Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-HeavyItalic.eot');
  src: local('Gilroy Heavy Italic'), local('Gilroy-HeavyItalic'),
      url('Gilroy-HeavyItalic.eot?#iefix') format('embedded-opentype'),
      url('Gilroy-HeavyItalic.woff') format('woff'),
      url('Gilroy-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Medium.eot');
  src: local('Gilroy Medium'), local('Gilroy-Medium'),
      url('Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
      url('Gilroy-Medium.woff') format('woff'),
      url('Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-RegularItalic.eot');
  src: local('Gilroy Regular Italic'), local('Gilroy-RegularItalic'),
      url('Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
      url('Gilroy-RegularItalic.woff') format('woff'),
      url('Gilroy-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-UltraLight.eot');
  src: local('Gilroy UltraLight'), local('Gilroy-UltraLight'),
      url('Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
      url('Gilroy-UltraLight.woff') format('woff'),
      url('Gilroy-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Bold.eot');
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
      url('Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
      url('Gilroy-Bold.woff') format('woff'),
      url('Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Thin.eot');
  src: local('Gilroy Thin'), local('Gilroy-Thin'),
      url('Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
      url('Gilroy-Thin.woff') format('woff'),
      url('Gilroy-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Black.eot');
  src: local('Gilroy Black'), local('Gilroy-Black'),
      url('Gilroy-Black.eot?#iefix') format('embedded-opentype'),
      url('Gilroy-Black.woff') format('woff'),
      url('Gilroy-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
.s_1 {
  height: 100vh;
  overflow: hidden;
}
.bg_s_1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("../img/bg_1.png");
  background-size: cover;
  filter: blur(3px);
  transition-duration: 500ms;
}
.bg_h_1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("../img/bg_h_1.png");
  background-size: cover;
  filter: blur(3px);
  transition-duration: 500ms;
}
.bg_h_2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("../img/bg_hothome.png");
  background-size: cover;
  filter: blur(3px);
  transition-duration: 500ms;
}
.h_1, .hh_1 {
  height: 100vh;
  overflow: hidden;
}
.bg_hh_1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("../img/bg_help.png");
  background-size: cover;
  filter: blur(3px);
  transition-duration: 500ms;
}
.bg_hh_3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("../img/design.png");
  background-size: cover;
  filter: blur(3px);
  transition-duration: 500ms;
}
.promo {
  position: relative;
  width: 100vw;
  top: 200px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 29.71px;
}
.promo span {
  color: #ecb674;
  font-weight: 700;
}
.promo p {
  font-weight: 700;
  font-size: 24px;
  line-height: 29.71px;
}
.promoUl {
  position: relative;
  width: 100vw;
  top: 260px;
  font-size: 8px;
  font-weight: 400;
}
.promoUl > ul > li {
  font-size: 14px;
  margin-bottom: 13px;
  line-height: 19.2px;
  text-align: left;
  margin-left: 50px;
}
.btn {
  font-weight: 400;
  font-size: 16px;
  margin: 10px auto;
  padding: 10px 32px;
  background: #005570;
  border: none;
  border-radius: 40px;
  color: white;
  display: block;
  transition-duration: 500ms;
}
.showM {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #005570;
  top: 24px;
  left: calc(100vw - 24px - 50px)!important;
  left: calc(100vw - 24px - 25px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 16;
}
.showM span {
  width: 25px;
  height: 1px;
  background-color: white;
  margin-top: 4px;
  margin-bottom: 4px;
}
.box {
  position: absolute;
  background-color: #C4C4C4;
  opacity: 0.1;
  width: 182px;
  height: 182px;
  z-index: 1;
}
.box1 {
  left: -123.51px;
  top: -33px;
  transform: rotate(32.02deg);
  animation: boxF 6s infinite;
}
.box2 {
  left: -65.95px;
  top: -83px;
  transform: rotate(18.27deg);
  animation: boxF 6s 3s infinite;
}

.box3 {
  position: absolute;
  top: 20vh;
  left: calc(100vw - 180px);
  transform: rotate(18.27deg);
  animation: boxF 8s 3.5s infinite;
  z-index: 9;
}
.box4 {
  display: block;
  position: absolute;
  top: 24vh;
  left: calc(100vw - 130px);
  transform: rotate(32.02deg);
  transition-duration: 400ms;
  animation: boxF 6s infinite;
}

.box33 {
  position: absolute;
  top: 70%;
  left: calc(115vw - 180px);
  transform: rotate(18.27deg);
  animation: boxF 8s 3.5s infinite;
  z-index: 9;
}
.box44 {
  display: block;
  position: absolute;
  top: 80%;
  left: calc(120vw - 130px);
  transform: rotate(32.02deg);
  transition-duration: 400ms;
  animation: boxF 6s infinite;
}

@keyframes boxF {
  0% {
    z-index: 1;
  }
  50% {
    transform: rotateX(10deg);
    z-index: 1;
  }
  100% {
    z-index: 1;
  }
}
.social {
  position: absolute;
  top: calc(100vh - 15px - 40px);
  left: calc(50vw - 13px - 45px);
  z-index: 6;
}
.social img {
  margin-left: 13px;
}
.s_2 {
  position: relative;
  z-index: 4;
  background: linear-gradient(155.6deg, #005A76 -2.31%, #29A2C8 102.35%);
  width: 100vw;
  padding-top: 32px;
  overflow: hidden;
}
.h_2 {
  position: relative;
  z-index: 4;
  background: linear-gradient(155.6deg, #005A76 -2.31%, #29A2C8 102.35%);
  width: 100vw;
  padding-top: 72px;
}
.hh_2 {
  position: relative;
  z-index: 4;
  background: linear-gradient(155.6deg, #005A76 -2.31%, #29A2C8 102.35%);
  width: 100vw;
  padding-top: 72px;
}
h2 {
  color: white;
  text-align: center;
  font-size: 24px;
  line-height: 29.71px;
  font-weight: 700;
  margin: 0px 49px;
  list-style: none;
  margin-bottom: 34px;
}
p {
  color: white;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  margin: 0 24px;
  margin-bottom: 24px;
}
.logo {
  display: block;
  width: 185px;
  padding: 54px 0px;
  margin-left: calc(50vw - 92.5px);
  animation: jumpLogo 7s infinite;
}
@keyframes jumpLogo {
    50% {
      transform: scale(1.2);
    }
}
.call {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 100vw;
  background: rgba(0, 90, 118, 0.4);
  z-index: 9;
  transition-duration: 300ms;
}
menu {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 100vw;
  background: rgba(0, 90, 118, 0.4);
  z-index: 9;
  transition-duration: 300ms;
}
menu ul {
  position: fixed;
  width: 100vw;
  top: 282px;
}
menu li {
  color: white;
  text-align: center;
  font-size: 24px;
  line-height: 29.71px;
  font-weight: 700;
  list-style: none;
  margin-bottom: 12px;
}
.logo_3 {
  position: absolute;
  width: 185px;
  top: 108px;
  left: calc(50vw - 92.5px);
}
.closeMenu {
  position: absolute;
  top: 1px;
  right: 3px;
  z-index: 9;
  padding: 35px
}
.s_3 {
  position: relative;
  left: 0px;
  padding-top: 72px;
  padding-bottom: 16px;
  z-index: 3;
  background: white;
  width: 100vw;
}
.clickme {
  height: 464px;
  width: calc(100vw - 48px);
  margin-left: 24px;
  margin-bottom: 24px;
}
.clickme p {
  margin-left: 0px;
  margin-right: 0px;
}
.clickme > div {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(33, 33, 33, 0.25) 49.27%, #000000 100%);
}
.clickme p {
  font-size: 18px;
  line-height: 21.6px;
  text-align: center;
  width: calc(100vw - 48px);
  text-align: center;
  position: absolute;
  bottom: 102px;
}
.btnClear {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  text-align: center;
  border: 1px solid white;
  margin-top: 32px;
  margin-bottom: 12px;
  padding: 10px 32px;
  border-radius: 40px;
  color: white;
  display: block;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  bottom: 40px;
  width: 150px;
  left: calc(50vw - 75px - 24px);
}
.s_4 {
  position: relative;
  left: 0px;
  z-index: 3;
  background: white;
  width: 100vw;
}
.callback {
  padding-bottom: 16px;
  position: relative;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
}
.bg_callback {
  background: url("../img/callback.png");
  background-size: cover;
  position: absolute;
  filter: blur(3px);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.inp {
  width: calc(100vw - 48px);
  margin-left: 24px;
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid white;
  height: 22px;
  margin-bottom: 40px;
  outline: none;
  color: white;
  transition-duration: 300ms;
}
.inp::placeholder {
  color: white;
  font-size: 16px;
  line-height: 19px;
}
.inp:focus {
  transform: scale(1.1);
}
.s_5 {
  position: relative;
  left: 0px;
  z-index: 3;
  background: white;
  width: 100vw;
  padding-top: 72px;
}
.h_3 {
  position: relative;
  left: 0px;
  z-index: 3;
  padding-top: 32px;
  padding-bottom: 32px;
  background: white;
  width: 100vw;
  z-index: 8;
}
.hh_3 {
  position: relative;
  left: 0px;
  z-index: 3;
  background: white;
  width: 100vw;
  padding-top: 32px;
}
.h_4 {
  position: relative;
  left: 0px;
  z-index: 3;
  background: rgba(0, 90, 118, 1);
  width: 100vw;
  padding-bottom: 16px;
  display: flex; flex-direction: column;
}
.hh_4 {
  position: relative;
  left: 0px;
  z-index: 3;
  background: rgba(0, 90, 118, 1);
  width: 100vw;
  display: flex; flex-direction: column;
  padding-bottom: 16px;
}
.hh_5 {
  position: relative;
  left: 0px;
  z-index: 3;
  background: rgba(0, 90, 118, 1);
  width: 100vw;
  display: flex; flex-direction: column;
}
.hh_6 {
  position: relative;
  left: 0px;
  z-index: 3;
  background: white;
  width: 100vw;
  padding-top: 32px;
  display: flex; flex-direction: column;
}
.hh_7 {
  position: relative;
  left: 0px;
  z-index: 3;
  background: white;
  width: 100vw;
  display: flex; flex-direction: column;
}
.hh_8 {
  position: relative;
  left: 0px;
  z-index: 3;
  background: white;
  width: 100vw;
  padding-top: 32px;
  display: flex; flex-direction: column;
}
.hh_9 {
  position: relative;
  left: 0px;
  z-index: 3;
  width: 100vw;
  background: rgba(0, 90, 118, 1);
  padding: 72px 12px;
  width: 100vw;
}
.h_5 {
  position: relative;
  left: 0px;
  z-index: 3;
  background: rgba(0, 90, 118, 1);
  width: 100vw;
  display: flex; flex-direction: column;
}
.h_6 {
  position: relative;
  left: 0px;
  z-index: 3;
  background: white;
  padding-top: 32px;
  width: 100vw;
  display: flex; flex-direction: column;
}
.h_7 {
  position: relative;
  left: 0px;
  z-index: 3;
  background: white;
  width: 100vw;
  display: flex; flex-direction: column;
}
.h_8 {
  position: relative;
  left: 0px;
  z-index: 3;
  background: white;
  width: 100vw;
  display: flex; flex-direction: column;
  padding-top: 32px;
}
.h_9 {
  position: relative;
  left: 0px;
  z-index: 3;
  width: 100vw;
  background: rgba(0, 90, 118, 1);
  padding: 72px 12px;
  width: 100vw
}
.newFlex p {
  width: calc(100vw - 48px);
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: rgba(0, 90, 118, 1);
  text-align: center;
}
.newFlex p img {
  padding: 13px;
  margin-bottom: 34px;
}
.newFlexLong p {
  width: calc(100vw - 48px);
  padding: 0;
  display: flex;
  padding-bottom: 32px;
  flex-direction: column;
  background-color: white;
  color: rgba(0, 90, 118, 1);
  text-align: center;
}
.li {
  text-align: start;
  margin-left: 12px
}
.li::before {
  content: "·";
  font-size: 6rem;
  vertical-align: middle;
  margin-right: 16px;
}
.newFlexLong p img {
  padding: 13px;
  margin-bottom: 34px;
} 
.forIcon {
  position: relative;
  z-index: 3;
  border-bottom: 1px solid #005A76;
  width: calc(100vw - 48px);
  margin-left: 24px;
  padding-top: 21px;
}
.forIcon p {
  color: rgba(0, 90, 118, 1);
  margin-left: 70px;
  padding-bottom: 0px;
  margin-top: -10px;
}
.forIcon img {
  position: absolute;
  top: 11px;
}
section {
  position: relative;
  z-index: 3;
  width: 100vw;
  left: 0px;
}
.s_6 {
  overflow: hidden;
  height: 110vh;
  width: 100vw;
}
.s_6 h2 {
  padding-top: 72px;
}
.s_6 > .bg {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 110vh;
  z-index: 7;
  padding-top: 32px;
}
.container_s_6 {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 48px);
  margin-left: 24px;
}
.container_s_6 > .block {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  display: flex;
  height: 175px;
  align-items: center;
  justify-content: center;
}
.bg_statistics {
  background: url("../img/statistics.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  filter: blur(3px);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.s_6 span {
  font-weight: 700;
  font-size: 40px;
  line-height: 49.52px;
  display: block;
  text-align: center;
}
.s_6 p {
  font-size: 16px;
  line-height: 19.2px;
  text-align: center;
}
.s_7 {
  position: relative;
  left: 0px;
  z-index: 9;
  width: 100vw;
  background-color: white;
  padding-top: 32px;
  padding-bottom: 32px;
}
.firstSlider {
  height: 464px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}
.firstSlider > div {
  font-size: 40px;
  height: 464px;
  min-width: 248px;
  margin-left: 32px;
}
.firstSlider > div > div {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(33, 33, 33, 0.18) 66.98%, #000000 100%);
}
.firstSlider > div > div > p {
  width: 146px;
  margin-left: 51px;
  position: relative;
  padding-bottom: 40px;
  top: 380px;
}
.s_8 {
  position: relative;
  left: 0px;
  z-index: 3;
  width: 100vw;
  padding-bottom: 32px;
  padding-top: 32px;
  background: linear-gradient(155.6deg, #005A76 -2.31%, #29A2C8 102.35%), linear-gradient(131.28deg, #EFAA56 8.89%, #FFE3C2 100.98%);
}
.secondSlider {
  height: 310px;
  display: flex;
  overflow: auto;
  margin-right: 23px;
}
.secondSlider > div {
  max-height: 310px;
  min-width: 258.53px;
  background-color: white;
  margin-left: 23px;
}
.itemSlider {
  display: flex;
  flex-direction: column;
  color: rgba(0, 90, 118, 1);
  justify-content: space-around;
}
.itemSlider p {
  color: rgba(0, 90, 118, 1);
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  position: relative;
  left: -10px;
}
.itemSlider span {
  font-weight: 900;
}
.s_9 {
  position: relative;
  left: 0px;
  z-index: 3;
  width: 100vw;
  padding-top: 32px;
  padding-bottom: 32px;
  background: url("../img/bg_inst.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.s_10 {
  position: relative;
  left: 0px;
  z-index: 3;
  width: 100vw;
  background: white;
  padding-top: 32px;
  padding-bottom: 52px;
}
.slider_3 {
  min-height: 319.91px;
  margin-left: 24px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 30px;
}
.slider_3 > div {
  margin-right: 24px;
  height: 319.91px;
  min-width: 256px;
}
.slider_4 {
  background: rgba(0, 90, 118, 1);
  min-height: 80px;
  min-width: 100vw;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  align-items: center;
}
.slider_4 img {
  height: 32px;
  margin: 0px 32px;
}
.s_11 {
  position: relative;
  left: 0px;
  z-index: 3;
  width: 100vw;
}
.s_12 {
  position: relative;
  left: 0px;
  z-index: 3;
  width: 100vw;
  padding-top: 32px;
  padding-bottom: 32px;
  background: white;
}
.s_13 {
  position: relative;
  left: 0px;
  z-index: 3;
  width: 100vw;
  background: rgba(0, 90, 118, 1);
  padding: 72px 12px;
  width: 100vw;
}
.logoF {
  width: 118px;
  margin-top: 60px;
}
