/*
  .box == 1
  .s_2 == 3
  .social == 6
  menu == 9
  .s_3 == 3
*/
:root {
  --whiteColor: rgb(255, 255, 255);
  --redColor: rgb(255, 0, 0);
  --bgColor: #202023;
  --mainColor: #658DFF;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Ultra Light'), local('Gilroy-Ultra-Light'),
      url('../fonts/Gilroy-UltraLight.woff2') format('woff2'),
      url('../fonts/Gilroy-UltraLight.woff') format('woff'),
      url('../fonts/Gilroy-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Gilroy';
  font-style: normal;
}
html, body {
  font-family: 'Gilroy Ultra Light';
  background-color: var(--bgColor);
  scroll-behavior: smooth;
  overflow-x: hidden; 
  color: var(--whiteColor);
  transition-duration: 500ms;
  width: 100vw;
}
.s_1 {
  height: 100vh;
  overflow-x: hidden;
}
.bg_s_1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("../img/bg_1.png");
  background-size: cover;
  filter: blur(3px);
  transition-duration: 500ms;
}
.promo {
  position: relative;
  width: calc(100vw - 64px);
  left: 32px;
  right: 32px;
  top: 200px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 29.71px;
}
.promo span {
  color: #ecb674;
}
.promoUl {
  position: relative;
  width: calc(100vw - 64px);
  left: 48px!important;
  right: 32px;
  top: 260px;
  font-size: 14px;
  font-weight: 400;
  left: 48px;
}
.promoUl > ul > li {
  font-size: 16px;
  margin-bottom: 13px;
  line-height: 19.2px;
}
.btn {
  font-weight: 400;
  font-size: 16px;
  margin: 10px auto;
  padding: 10px 32px;
  background: #005570;
  border: none;
  border-radius: 40px;
  color: white;
  display: block;
}
.showM {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #005570;
  top: 24px;
  left: calc(100vw - 24px - 50px)!important;
  left: calc(100vw - 24px - 25px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 6;
}
.showM span {
  width: 25px;
  height: 1px;
  background-color: white;
  margin-top: 4px;
  margin-bottom: 4px;
}
.box {
  position: absolute;
  background-color: #C4C4C4;
  opacity: 0.1;
  width: 182px;
  height: 182px;
  z-index: 0;
}
.boxOne, .box5 {
  left: -123.51px;
  top: -33px;
  transform: rotate(32.02deg);
  animation: boxF 6s infinite;
}
.boxTwo, .box6 {
  left: -65.95px;
  top: -83px;
  transform: rotate(18.27deg);
  animation: boxF 6s 3s infinite;
}
.boxThree {
  left: 301.05px;
  top: -18vh;
  transform: rotate(18.27deg);
  animation: boxF 8s 3.5s infinite;
}
.boxFour {
  left: 260.49px;
  top: -16vh;
  transform: rotate(32.02deg);
  transition-duration: 400ms;
  animation: boxF 6s infinite;
}
.box7 {
  left: 301.05px;
  top: 70vh;
  transform: rotate(18.27deg);
  animation: boxF 8s 3.5s infinite;
}
.box8 {
  left: 260.49px;
  top: 68vh;
  transform: rotate(32.02deg);
  transition-duration: 400ms;
  animation: boxF 6s infinite;
}
@keyframes boxF {
  0% {
    z-index: 1;
  }
  50% {
    transform: rotateX(10deg);
    z-index: 1;
  }
  100% {
    z-index: 1;
  }
}
.social {
  position: absolute;
  top: calc(100vh - 15px - 40px);
  left: calc(50vw - 13px - 45px);
  z-index: 6;
}
.social img {
  margin-left: 13px;
}
.s_2 {
  position: absolute;
  top: 100vh;
  z-index: 4;
  background: linear-gradient(155.6deg, #005A76 -2.31%, #29A2C8 102.35%);
  width: 100vw;
  height: 850px;
  padding-top: 72px;
}
h2 {
  color: white;
  text-align: center;
  font-size: 24px;
  line-height: 29.71px;
  font-weight: 700;
  margin: 0px 49px;
  list-style: none;
  margin-bottom: 34px;
}
p {
  color: white;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  margin: 0 24px;
  margin-bottom: 24px;
}
.logo {
  display: block;
  width: 185px;
  padding: 104px 0px;
  margin-left: calc(50vw - 92.5px);
  animation: jumpLogo 7s infinite;
}
@keyframes jumpLogo {
    50% {
      transform: scale(1.2);
    }
}
menu {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 100vw;
  background: rgba(0, 90, 118, 0.4);
  z-index: 9;
  transition-duration: 300ms;
}
menu ul {
  position: fixed;
  width: 100vw;
  top: 282px;
}
menu li {
  color: white;
  text-align: center;
  font-size: 24px;
  line-height: 29.71px;
  font-weight: 700;
  list-style: none;
  margin-bottom: 12px;
}
.logo_3 {
  position: absolute;
  width: 185px;
  top: 108px;
  left: calc(50vw - 92.5px);
}
.closeMenu {
  position: absolute;
  top: 1px;
  right: 3px;
  z-index: 9;
  padding: 35px
}
.s_3 {
  position: absolute;
  height: 2632px;
  left: 0px;
  top: calc(100vh + 900px);
  z-index: 3;
  background: white;
  width: 100vw;
}
.clickme {
  height: 464px;
  width: calc(100vw - 48px);
  margin-left: 24px;
  margin-bottom: 24px;
}
.clickme > div {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(33, 33, 33, 0.25) 49.27%, #000000 100%);
}
.clickme p {
  font-size: 18px;
  line-height: 21.6px;
  text-align: center;
  width: calc(100vw - 144px);
  left: 36px;
  position: absolute;
  bottom: 102px;
}
.btnClear {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  text-align: center;
  border: 2px solid white;
  margin-top: 32px;
  padding: 10px 32px;
  border-radius: 40px;
  color: white;
  display: block;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  bottom: 40px;
  width: 150px;
  left: calc(50vw - 75px - 24px);
}
.s_4 {
  position: absolute;
  height: 584px;
  left: 0px;
  top: calc(100vh + 900px + 2632px);
  z-index: 3;
  background: white;
  width: 100vw;
}
.callback {
  position: relative;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
}
.bg_callback {
  background: url("../img/callback.png");
  background-size: cover;
  position: absolute;
  filter: blur(3px);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.inp {
  width: calc(100vw - 48px);
  margin-left: 24px;
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid white;
  height: 22px;
  margin-bottom: 40px;
  outline: none;
  color: white;
  transition-duration: 300ms;
}
.inp::placeholder {
  color: white;
  font-size: 16px;
  line-height: 19px;
}
.inp:focus {
  transform: scale(1.1);
}
.s_5 {
  position: absolute;
  height: 1200px;
  left: 0px;
  top: calc(100vh + 900px + 2632px + 584px);
  z-index: 3;
  background: white;
  width: 100vw;
}
.forIcon {
  position: relative;
  z-index: 3;
  border-bottom: 1px solid #005A76;
  width: calc(100vw - 48px);
  margin-left: 24px;
  padding-top: 21px;
}
.forIcon p {
  color: rgba(0, 90, 118, 1);
  margin-left: 70px;
}
.forIcon img {
  position: absolute;
  top: 25%;
}
.s_6 {
  position: absolute;
  left: 0px;
  height: 704px;
  top: calc(100vh + 900px + 2632px + 584px + 1200px);
  z-index: 3;
  width: 100vw;
}
.s_6 > .bg {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 90%;
  z-index: 3;
  padding-top: 72px;
}
.container_s_6 {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 48px);
  margin-left: 24px;
}
.container_s_6 > .block {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  display: flex;
  height: 175px;
  align-items: center;
  justify-content: center;
}
.bg_statistics {
  background: url("../img/statistics.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  filter: blur(3px);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.s_6 span {
  font-weight: 700;
  font-size: 40px;
  line-height: 49.52px;
  display: block;
  text-align: center;
}
.s_6 p {
  font-size: 16px;
  line-height: 19.2px;
  text-align: center;
}
.s_7 {
  position: absolute;
  left: 0px;
  height: 680px;
  top: calc(100vh + 900px + 2632px + 584px + 1200px + 704px);
  z-index: 3;
  width: 100vw;
  background-color: white;
}
.firstSlider {
  height: 464px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}
.firstSlider > div {
  font-size: 40px;
  height: 464px;
  min-width: 248px;
  margin-left: 32px;
}
.firstSlider > div > div {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(33, 33, 33, 0.18) 66.98%, #000000 100%);
}
.firstSlider > div > div > p {
  width: 146px;
  margin-left: 51px;
  position: relative;
  padding-bottom: 40px;
  top: 380px;
}
.s_8 {
  position: absolute;
  left: 0px;
  height: 552px;
  top: calc(100vh + 900px + 2632px + 584px + 1200px + 704px + 680px);
  z-index: 3;
  width: 100vw;
  background: linear-gradient(155.6deg, #005A76 -2.31%, #29A2C8 102.35%), linear-gradient(131.28deg, #EFAA56 8.89%, #FFE3C2 100.98%);
}
.secondSlider {
  height: 310px;
  display: flex;
  overflow: auto;
  margin-right: 23px;
}
.secondSlider > div {
  max-height: 310px;
  min-width: 258.53px;
  background-color: white;
  margin-left: 23px;
}
.itemSlider {
  display: flex;
  flex-direction: column;
  color: rgba(0, 90, 118, 1);
  justify-content: space-around;
}
.itemSlider p {
  color: rgba(0, 90, 118, 1);
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  position: relative;
  left: -10px;
}
.s_9 {
  position: absolute;
  left: 0px;
  height: 687px;
  top: calc(100vh + 900px + 2632px + 584px + 1200px + 704px + 680px + 552px);
  z-index: 3;
  width: 100vw;
  background: linear-gradient(92.19deg, #7324C2 1.78%, #C52F65 48.27%, #DE933F 95.16%);
  filter: blur(200px);
  opacity: 0.5;
}
